{{>title}}
{{#each jobs}}
    <div class="row tm-job-link">
        <div class="large-6 medium-6 small-12 columns">
            <h5><a href="job_posting?id={{id}}">{{text}}</a></h5>
        </div>
        <div class="large-6 medium-6 small-12 columns text-right">
            <p>{{categories.location}}, {{categories.commitment}}</p>
        </div>
    </div>
{{/each}}
